/* CSS Document */

body, html {
  height: 100%;
  margin:0 auto;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #333;
  max-width:1024px;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.75;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("../images/DSC_0103.jpg");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("../images/IMG_3433.jpg");
  min-height: 100%;
}

.bgimg-3 {
  background-image: url("../images/IMG_4205.jpg");
  min-height: 100%;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: rgba(255,255,255,1);
}

.caption span.border {
  background-color:rgba(10,10,10,1);
  color:rgba(255,255,255,1);
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color:rgba(255,255,255,.9);
}
.blackBG{
	background-color:rgba(0,0,0,.9);
	color:rgba(255,255,255,.9);
}


/* Turn off parallax scrolling for tablets and phones
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
} */

/*image popover*/

.popOverFrame{
	position:relative;
	width:100%;
    min-height: 500px;
    padding-bottom:80px;
    -moz-box-sizing:border-box;
    box-sizing:border-box; 
	z-index:1;
	border:1px solid rgba(70,70,70,.2);
	height:auto;
}
.popOverFrame p{
	color:grey;
	font-size:.8em;
	text-align:justify;
	padding:.7em;
}
.popOverTitle{
	font-size:1.5em;
	font-weight:normal;
	color: rgba(36,70,111,1);
	opacity:.8;
}
.popOverImage{
	width:100%;
	height:auto;
	
	position:absolute;
	top:0;
	left:0;
	z-index:999;
	transition-property: top;
  transition-duration: 1s;
  transition-delay: 0.1s;
}
.popOverImage:hover{
	top:200px;
	transition-property: top;
  transition-duration: 1s;
  transition-delay: 0.1s;
}

	